@CHARSET "ISO-8859-1";

html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}

a:focus {
    outline: none;
}

.jumbotron {
	padding: 10px;
	margin-bottom: 10px;
}

.jumbotron > h1 {
	margin: 0px;
}


.table-explanation {
	background: white;
	font-style: italic;
}

.crud-feedback {
	margin-top: 5px;
	
}

.crud-feedback p {
	text-align: center;
	font-weight: bold;
	
}

.search-box {
	min-width: 90px;
	max-width: 200px;
}

.search-addon {
	    transform: translateY(-1px)
}


#loginEmailField {
	min-width: 340px;
}



/* 
	Angular form validation feedback colors
 */
 
input.ng-invalid {
    background-color: #ffdfe0;
}
input.ng-valid {
    background-color: #e6ffcc;
}

select.ng-invalid {
    background-color: #ffdfe0;
}
select.ng-valid {
    background-color: #e6ffcc;
}