
<div ng-hide="isLoggedIn">
	<h2>Login</h2>
	<form class="form-inline" name="loginForm">
		<div class="form-group">
			<input id="loginEmailField" list="accounts" name="email" class="form-control" ng-model="email" type="text" placeholder="email (admin@admin.se, johan@customer.se)" required>
					<datalist id="accounts">
					    <option value="admin@admin.se">
					    <option value="johan@customer.se">
					  </datalist>
			<input class="form-control" type="submit" value="LOGIN" ng-click="submit()" ng-disabled="loginForm.$invalid">
		</div>
	</form>
</div>

<div ng-show="isLoggedIn">
	<h2>You are logged in as {{loggedInUser.userContactInfo.firstName}} {{loggedInUser.userContactInfo.lastName}}</h2>
	<p>With {{loggedInUser.userType}} privileges</p>
	<button ng-click="logOut()">Log out</button>
</div>

