
<h3>Car frequency statistics based on</h3>
<form>
<select class="form-control" ng-model="selectedCarStatisticsColumn" ng-change="getCarStatistics()" ng-options="columnName for columnName in validCarColumnNames"></select>
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Category ({{selectedCarStatisticsColumn}})</th>
        <th>Count / Total</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in carStatistics.entityToEntityCountMap">
        <td>{{key}}</td>
        <td>{{value}} / {{carStatistics.totalCount}}</td>
        <td>{{getPercentageValue(value, carStatistics.totalCount)}}%</td>
      </tr>
      <!-- table explanation -->
      <tr>
      	<td colspan="3">
      			<div class="table-explanation">
      			Table reads as: There are (Count) out of (Total) cars that 'match' (Category)
      			</div>
      		</td>
      </tr>
    </tbody>
</table>

<h3>Repair appointment frequency statistics based on</h3>
<form>
<select class="form-control" ng-model="selectedRepairAppointmentStatisticsColumn" ng-change="getRepairAppointmentStatistics()" ng-options="columnName for columnName in validRepairAppointmentColumnNames"></select>
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Category ({{selectedRepairAppointmentStatisticsColumn}})</th>
        <th>Count / Total</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in repairAppointmentStatistics.entityToEntityCountMap">
        <td>{{key}}</td>
        <td>{{value}} / {{repairAppointmentStatistics.totalCount}}</td>
        <td>{{getPercentageValue(value, repairAppointmentStatistics.totalCount)}}%</td>
      </tr>
      
      <!-- table explanation -->
      <tr>
      	<td colspan="3">
      			<div class="table-explanation">
      			Table reads as: There are (Count) out of (Total) repair appointments that 'match' (Category)
      			</div>
      		</td>
      </tr>
      
    </tbody>
    
</table>



<h3>User frequency statistics based on</h3>
<form>
<select class="form-control" ng-model="selectedUserStatisticsColumn" ng-change="getUserStatistics()" ng-options="columnName for columnName in validUserColumnNames"></select>
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Category ({{selectedUserStatisticsColumn}})</th>
        <th>Count / Total</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in userStatistics.entityToEntityCountMap">
        <td>{{key}}</td>
        <td>{{value}} / {{userStatistics.totalCount}}</td>
        <td>{{getPercentageValue(value, userStatistics.totalCount)}}%</td>
      </tr>
      
      <!-- table explanation -->
      <tr>
      	<td colspan="3">
      			<div class="table-explanation">
      			Table reads as: There are (Count) out of (Total) users that 'match' (Category)
      			</div>
      		</td>
      </tr>
      
    </tbody>
    
</table>