
<div>
	
	<h3><a href="{{baseUrl}}cars/create-new"  class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create new car <span class="glyphicon glyphicon-plus"></span></a></h3>
	
	<div class="input-group search-box">
		<input class="form-control" ng-model="searchText" type="text"><span class="input-group-addon glyphicon glyphicon-search search-addon"></span>
	</div>
	
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Production year</th>
        <th>Propulsion technology</th>
        <th>Owner</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="car in cars | userHasPermissionToSeeThisCar | shallowMatchesForCarSearchTerm:searchText">
        <td>{{car.brand}}</td>
        <td>{{car.model}}</td>
        <td>{{car.productionYear}}</td>
        <td>{{car.propulsionTechnology}}</td>
        <td>{{car.owner.userContactInfo.firstName}} {{car.owner.userContactInfo.lastName}}</td>
        <td>
        	<a href="{{baseUrl}}cars/{{car.id}}">
      			<span class="glyphicon glyphicon-edit"></span>
    		</a>
        </td>
        <td>
        	<a href="" ng-click="deleteCarById(car.id)">
      			<span class="glyphicon glyphicon-trash"></span>
    		</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>