<h3>{{title}}</h3>
<form name="carForm">
	
	<ul class="list-group">
		<li class="list-group-item active">
    		<h4 class="list-group-item-heading">{{car.brand}} {{car.model}} ({{car.productionYear}})</h4>
  		</li>
		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Brand</h4>
    		<input required class="form-control list-group-item-text" type="text" ng-model="car.brand" required>
  		</li>
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Model</h4>
    		<input class="form-control list-group-item-text" type="text" ng-model="car.model" required>
  		</li>
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Production year</h4>
    		<input class="form-control list-group-item-text" type="number" ng-model="car.productionYear" placeholder="numbers only" required>
  		</li>
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Propulsion technology</h4>
    		<input class="form-control list-group-item-text" type="text" ng-model="car.propulsionTechnology" required>
  		</li>
  		
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Owner</h4>
    		<select class="form-control" ng-disabled="editMode" ng-model="selectedUser" 
    		ng-options="user as (user.userContactInfo.firstName + ' ' + user.userContactInfo.lastName) for user in users | userHasPermissionToSeeThisUser track by user.id" required>
    			<option value="">--SELECT OWNER--</option>
    		</select>
  		</li>
  
	</ul>
	
	<input class="form-control btn-primary" type="button" value="{{buttonText}}" ng-click="saveCar()" ng-disabled="carForm.$invalid">
	
	
	<div ng-if="successFeedback" class="alert alert-success crud-feedback" role="alert">
  		<button ng-click="resetSuccessFeedback()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p>{{successFeedback}}</p>
	</div>
</form>