<div>

	<h3><a href="{{baseUrl}}repair-appointments/create-new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create new repair appointment <span class="glyphicon glyphicon-plus"></span></a></h3>
	
	<div class="input-group search-box">
		<input class="form-control" ng-model="searchText" type="text"><span class="input-group-addon glyphicon glyphicon-search search-addon"></span>
	</div>
	
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Car owner</th>
        <th>Car</th>
        <th>Date</th>
        <th>Problem description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="appointment in repairAppointments | userHasPermissionToSeeThisAppointment | shallowMatchesForAppointmentSearchTerm:searchText | orderBy:appointment.appointmentDate">
        <td>{{appointment.carOwner.userContactInfo.firstName}} {{appointment.carOwner.userContactInfo.lastName}}</td>
        <td>{{appointment.car.brand}} {{appointment.car.model}}</td>
        <td>{{getDateFromMillis(appointment.appointmentDate)}}</td>
        <td>{{appointment.problemDescription | limitTo:30}}<span ng-show="appointment.problemDescription.length > 30">..</span></td>
        <td>
        	<a href="{{baseUrl}}repair-appointments/{{appointment.id}}">
      			<span class="glyphicon glyphicon-edit"></span>
    		</a>
        </td>
        <td>
        	<a href="" ng-click="deleteAppointmentById(appointment.id)">
      			<span class="glyphicon glyphicon-trash"></span>
    		</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>