<h3>{{title}}</h3>
<form name="appointmentForm" novalidate>
	
	<ul class="list-group">
		<li class="list-group-item active">
    		<h4 class="list-group-item-heading">
    			{{getDateFromMillis(formattedAppointmentDate.getTime())}}
    			 - {{selectedUser.userContactInfo.firstName}} {{selectedUser.userContactInfo.lastName}}
    			 - {{selectedCar.brand}} {{selectedCar.model}} ({{selectedCar.productionYear}})
    		</h4>
  		</li>
		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Date</h4>
    		<input class="form-control form-control list-group-item-text" type="date" ng-model="formattedAppointmentDate" placeholder="yyyy-mm-dd" required>
  		</li>
  		
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Car owner</h4>
    		<select 
    			class="form-control list-group-item-text" ng-model="selectedUser" 
    			ng-options="user as (user.userContactInfo.firstName + ' ' + user.userContactInfo.lastName) for user in users | userHasPermissionToSeeThisUser track by user.id" required>
    			<option value="">--SELECT OWNER--</option>
    		</select>
  		</li>
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Car</h4>
    		<select class="form-control list-group-item-text" ng-model="selectedCar" ng-options="car as (car.brand + ' ' + car.model) for car in selectedUser.cars track by car.id" required>
    			<option value="">--SELECT CAR--</option>
    		</select>
  		</li>
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Problem description</h4>
    		<input class="form-control list-group-item-text" type="text" ng-model="appointment.problemDescription" placeholder='optional'>
  		</li>
  		
	</ul>
	
	<input class="form-control btn-primary" type="button" value="{{buttonText}}" ng-click="saveAppointment()" ng-disabled="appointmentForm.$invalid">
	
	
	<div ng-if="successFeedback" class="alert alert-success crud-feedback" role="alert">
  		<button ng-click="resetSuccessFeedback()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p>{{successFeedback}}</p>
	</div>
</form>