
<div>
	
	<h3 ng-show="loggedInAsAdmin"><a href="{{baseUrl}}users/create-new"  class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create new user <span class="glyphicon glyphicon-plus"></span></a></h3>
	
	<div ng-show="loggedInAsAdmin" class="input-group search-box">
		<input class="form-control" ng-model="searchText" type="text"><span class="input-group-addon glyphicon glyphicon-search search-addon"></span>
	</div>
	
	<table class="table table-striped">
    <thead>
      <tr>
        <th>User type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Appointments</th>
        <th>Cars</th>
        <th>Edit</th>
        <th ng-hide="!loggedInAsAdmin">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | userHasPermissionToSeeThisUser | shallowMatchesForUserSearchTerm:searchText">
        <td>{{user.userType}}</td>
        <td>{{user.userContactInfo.firstName}} {{user.userContactInfo.lastName}}</td>
        <td>{{user.userContactInfo.email}}</td>
        <td>{{user.userContactInfo.phoneNumber}}</td>
        
       	<td>
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Appointments
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li ng-repeat="appointment in user.appointments"><a href="{{baseUrl}}repair-appointments/{{appointment.id}}">{{getDateFromMillis(appointment.appointmentDate)}} ({{appointment.car.brand}} {{appointment.car.model}})</a></li>
			  </ul>
			</div>        
        
        </td>
        
        
        <td>
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Cars
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			    <li ng-repeat="car in user.cars"><a href="{{baseUrl}}cars/{{car.id}}">{{car.brand}} {{car.model}} ({{car.productionYear}})</a></li>
			  </ul>
			</div>        
        
        </td>
        <td>
        	<a href="{{baseUrl}}users/{{user.id}}">
      			<span class="glyphicon glyphicon-edit"></span>
    		</a>
        </td>
        <td ng-hide="!loggedInAsAdmin">
        	<a href="" ng-click="deleteUserById(user.id)">
      			<span class="glyphicon glyphicon-trash"></span>
    		</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>