<h3>{{title}}</h3>
<form name="userForm">
	
	<ul class="list-group">
		<li class="list-group-item active">
    		<h4 class="list-group-item-heading">{{user.userContactInfo.firstName}} {{user.userContactInfo.lastName}} ({{user.userType}})</h4>
  		</li>

  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">User type</h4>
    		<select ng-disabled="!loggedInAsAdmin" class="form-control list-group-item-text" ng-model=user.userType ng-options="type for type in userTypes" required>
    			<option value="">--SELECT USER TYPE--</option>
    		</select>
  		</li>
  		
  		
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">First name</h4>
    		<input class="form-control list-group-item-text" type="text" ng-model="user.userContactInfo.firstName" required>
  		</li>
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Last name</h4>
    		<input class="form-control list-group-item-text" type="text" ng-model="user.userContactInfo.lastName" required>
  		</li>
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Email</h4>
    		<input class="form-control list-group-item-text" type="email" ng-model="user.userContactInfo.email" required>
  		</li>
  		
  		<li class="list-group-item">
    		<h4 class="list-group-item-heading">Phone number</h4>
    		<input class="form-control list-group-item-text" type="text" ng-model="user.userContactInfo.phoneNumber" required>
  		</li>
  		
	</ul>
	
	<input class="form-control btn-primary btn-md" type="button" value="{{buttonText}}" ng-click="saveUser()" ng-disabled="userForm.$invalid">
	
	
	<div ng-if="successFeedback" class="alert alert-success crud-feedback" role="alert">
  		<button ng-click="resetSuccessFeedback()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p>{{successFeedback}}</p>
	</div>
</form>

